.el-pagination__sizes {
    float: left;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
    font-weight: normal
}

.el-table thead th {
    color: #000;
    height: 40px;
}

.el-table thead th {
    color: #000;
    height: 40px;
    padding: 0;
}

.el-table__body {
    /* height: 100%; */
}

.el-table .el-table__body tbody {
    padding: 0;
    border: none;
    /* height: 100%; */
}

.el-table .el-table__body tbody .el-table__row {
    padding: 0;
    border: none;
    height: 10% !important;
}

.el-table tbody tr td {
    padding: 0;
    border: none;
}

.el-table th .cell {
    min-width: 100px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.el-table th .cell .caret-wrapper {
    padding: 0;
}

.el-submenu__title {
    color: #B54FBE
}


/* 背景 */