

.el-pagination__sizes{
    float: left;
  }
  .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
    font-weight: normal
  }
  .el-table thead {
    color: #000;
    font-weight: normal
  }
/* 背景 */

